@model CategoryEditModel

@Html.Partial("_AdminMenu")

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.Partial("_CategoryEditControls")
        </form>
    </div>
</div>