@model Edi.LightBlog.Models.CategoryEditModel

@Html.Partial("_AdminMenu")

<h4>Edit Category</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="Id" type="hidden" />
            @Html.Partial("_CategoryEditControls")
        </form>
    </div>
</div>